*, *::before, *::after
  box-sizing: border-box

body
  margin: 0

.rates
  display: flex
  flex-flow: row wrap
  margin: 20px
  max-width: 500px

.table
  margin: 0 20px 20px 0

  &:last-of-type
    margin-bottom: 0

  td
    padding-right: 5px

    &:last-of-type
      padding-right: 0

  &_title
    font-weight: bold
    font-size: 16px
